## Q1

### print 'Python' 10 times without using for loop and multiline output in 10 lines

#### Example

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [1]:
print("python\n"*10)

python
python
python
python
python
python
python
python
python
python

## Q2

### There is a tuple = (10,40,60,80) slice this tuple into two equal parts tup1 and tup2

In [2]:
tup=(10,40,60,80)
p=len(tup)
tup1=tup[0:p//2]
tup2=tup[p//2:p]
print(tup1,tup2)

(10, 40) (60, 80)

## Q3

### Assign tuple = (10,40,60,80) values respectively to z,y,x,w  with a single line execution

In [3]:
t=(10,40,60,80)
(z,y,x,w)=t
print(x,y,z,w)

60 40 10 80

## Q4

### there are two variables x = 'Python',y = 'Bootcamp' swap them in a single line execution.

In [4]:
x="python"
y="Bootcamp"
y,x=x,y
print(x,y)

Bootcamp python

## Q5

### if a = 'py' and b ='thon' then print 'python' as output via using variables a and b

In [5]:
a="py"
b="thon"
print(a+b)

python

## Q6

### there are tuples tup1=('Hello','World') and tup2=(2,4) make a new tuple using tup1 and tup2 which looks like ('Hello', 'World', 2, 4)

In [3]:
if 1:
    print(' ja')
else:
    print('aha')

 ja

In [4]:
if(print("if")==0):
    print(" if")
else:
    print(" else")

if
 else

In [6]:
if(1):
    print("if loop")
else:
    print(" else loop")

if loop

In [7]:
tup1=("Hello","world")
tup2=(2,4)
tup3=()
tup3=tup1+tup2
print(tup3)

('Hello', 'world', 2, 4)