In [1]:
import numpy as np
import pandas as pd
import csv

In [14]:
csv_file=pd.read_table('hamspam.tsv',delimiter='\t')

In [15]:
csv_file=csv_file.to_csv('hamspam.csv')

In [16]:
csv_file

In [27]:
data=pd.read_csv('hamspam.csv',index_col='Unnamed: 0')

In [28]:
data.columns=["label","news"]

In [29]:
data.head()

  label                                               news
0  spam  Free entry in 2 a wkly comp to win FA Cup fina...
1   ham  Nah I don't think he goes to usf, he lives aro...
2   ham  Even my brother is not like to speak with me. ...
3   ham                I HAVE A DATE ON SUNDAY WITH WILL!!
4   ham  As per your request 'Melle Melle (Oru Minnamin...

In [30]:
data.columns

Index(['label', 'news'], dtype='object')

In [31]:
type(data.columns)

pandas.core.indexes.base.Index

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5567 entries, 0 to 5566
Data columns (total 2 columns):
label    5567 non-null object
news     5567 non-null object
dtypes: object(2)
memory usage: 130.5+ KB

In [33]:
data.head()

  label                                               news
0  spam  Free entry in 2 a wkly comp to win FA Cup fina...
1   ham  Nah I don't think he goes to usf, he lives aro...
2   ham  Even my brother is not like to speak with me. ...
3   ham                I HAVE A DATE ON SUNDAY WITH WILL!!
4   ham  As per your request 'Melle Melle (Oru Minnamin...

In [38]:
ham=data[data['label']=='ham']

In [37]:
spam=data[data['label']=='spam']

In [41]:
ham.shape

(4821, 2)

In [42]:
spam.shape

(746, 2)

In [44]:
ham.describe()

       label                    news
count   4821                    4821
unique     1                    4512
top      ham  Sorry, I'll call later
freq    4821                      30

In [45]:
spam.describe()

       label                                               news
count    746                                                746
unique     1                                                652
top     spam  Please call our customer service representativ...
freq     746                                                  4

preprocessing our data to create A classifire

In [46]:
from sklearn.model_selection import train_test_split
df=data[:]

In [48]:
y=df['label']

In [49]:
x=df['news']

In [50]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=53)

setting x_train And x_test into CountVectorizer object

In [58]:
from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer=CountVectorizer(stop_words='english')
count_train=count_vectorizer.fit_transform(x_train)
count_test=count_vectorizer.transform(x_test)